body{
	padding-top: 5%;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-family: 'Press Start 2P', cursive;
	font-size: 40px;
	line-height: 50px;
}
button{
	display: block;
}
label{
	padding-right: 5px;
}